@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

body {
  font-family: "Roboto", sans-serif;
  background: rgb(2,0,36);
}

.header {
  text-align: center;
  width: 100%;
  color: white;
}
.center {
  text-align: center;
}
.white {
  color: white;
}
.pseudo-search {
  display: inline;
  border: 2px solid #ccc;
  border-radius: 100px;
  padding: 10px 15px;
  transition: background-color 0.5 ease-in-out;
}

input {
  border: 0;
  background-color: transparent;
  width: 200px;
}

input:focus{
  outline: none;
}

button, i {
  border: none;
  background: none;
  cursor: pointer;
}

select {
  border: none;
}

.green-head {
  background-color: green;
  color: white;
}

.red-head {
  background-color: red;
  color: white;
}

.blue-head {
  background-color: #007bff;
  color: white;
}


.btn-circle {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 0.9rem;
}

ul{
  border: 1px solid;
  box-shadow: 3px 6px #ababab;
  border-radius: 6px;
}